@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply font-bold ml-4 text-sm md:text-lg md:ml-11 tracking-widest;
}
.paragraph {
  @apply w-auto md:w-96 h-auto font-bold text-xl md:text-2xl ml-14 md:ml-36 mt-8 tracking-wide mr-1;
}
.title {
  @apply font-bold text-secondary-200 text-3xl uppercase ml-4 md:ml-14 mt-20 tracking-wider;
}
.img-gray {
  @apply w-72 h-48 md:w-600 md:h-400 rounded-md md:mr-36 md:mt-14 relative;
}
.proj {
  @apply flex flex-row content-center justify-between items-center flex-wrap mx-auto max-w-7xl;
}
.icon {
  @apply flex flex-row items-center justify-evenly mt-2 md:mt-14 md:w-auto;
}
.labels {
  @apply tracking-wide block mb-4 font-bold uppercase text-xl md:text-2xl sm:text-sm text-white;
}

.links:hover {
  text-decoration-color: #e85d04 !important;
  text-decoration: underline;
}
.introduction {
  @apply w-96 text-xl text-primary leading-10 ml-4 md:w-600 md:text-2xl lg:w-700 lg:text-3xl;
}
.skill {
  @apply w-auto font-bold text-xl md:text-2xl mt-2 tracking-wide;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display", serif, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #03071e;
  color: #fffffa;
}
.index {
  background-image: url("img/separator.png");
  background-repeat: repeat-x;
  height: 10px;
  width: 50%;
  border: 0;
  display: block;
  z-index: 100000;
  margin-left: auto;
  margin-right: auto;
}
.link-undeline {
  background-image: linear-gradient(
    0deg,
    #d00000 0,
    #6a040f 30%,
    transparent 40%,
    transparent
  );
}
